@font-face{
	font-family: Q3; 
	src: url('fonts/Quicksand/static/Quicksand-Regular.ttf') ;
}
@font-face{
	font-family: Q4; 
	src: url('fonts/Quicksand/static/Quicksand-SemiBold.ttf') ;
}
@font-face{
	font-family: G; 
	src: url('fonts/Great_Vibes/GreatVibes-Regular.ttf') ;
}
