#banner{
	background: linear-gradient(to bottom, rgba(218,165,146,.4)0,rgba(218,165,146.4)100%),url(images/banner.jpeg);
	width: 100%;
	height: 65vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#navbarNavAltMarkup .navbar-nav{
	font-family: Q4;
	font-size: 18px;
}
#navbarNavAltMarkup .navbar-nav a:hover{
	background-color: #CEAB9C;
	border-radius: 50px;
	color: #000;
}

#headertitle{
	font-family: Be2;
}
#headermain{
	padding: 1.25rem 2.25rem;
	font-size: .85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
	background-color: #fff;
	font-family: Q3;
}
#headermain1{
	padding: 1.25rem 2.25rem;
	font-size: .85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
	background-color: #D3A08C;
	font-family: Q4;
}

#paragraph p{
	line-height: 1.5em;
	text-align: justify;
	text-indent: 70px;
}
#allfont{
	font-family: Q3;
}
#allfont a:hover{
	color: #138496;
	text-decoration: none;
}

#divider{
	max-width: 4.25rem;
	border-width: .1rem;
	border-color: #ccc;
	margin-left: 0;
	border-color: #138496;
	/*display: none;*/
}

.box {
  transition: box-shadow .3s;
  width: 100%;
  height: 300px;
  text-align: center;
  /*margin: 70px auto;*/
  padding: 70px;
  border: 1px solid #ccc;
  background: #fff;
}
.box:hover {
  box-shadow: 0 0 11px; 
}
.box #phover:hover{
	color: #138496;
}

#content{
	width: 100%;
	height: auto;
	margin-top: -30px;
	background-position: center;
}
#content:hover{
	box-shadow: 0 0 11px; 
}
#accordionExample button{
	color: #ccc;
	text-decoration: none;
}
#accordionExample button:hover{
	color: #138496;
}
.box1 {
  transition: box-shadow .3s;
  width: 100%;
  height: auto;
  padding: 50px 5px 50px 30px;
  border: 7px solid #ccc;
  background: #fff;
}
.box1:hover{
	box-shadow: 0 0 11px; 
	border-color: #fff;
}
.box2{
	width: 100%;
	height: 355px;
	border: 1px solid #ccc;
}
.box2 .btn{
	border: 2px solid #000;
}
.box2 .btn:hover{
	border-color: #138496;
	background-color: #138496;
}
#banner1 {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered .btn{
	background-color: #138496;
	color: #fff;
}
.centered .btn:hover{
	border: 2px solid #fff;
	background-color: unset;
}
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#shadow1:hover{
	color: #138496;
	cursor: pointer;
}
#paginated .pagination:hover{
	color: #138496;
}